NodeRED/game_anna.json
[
    {
        "id": "ff75b3d78db8dd1a",
        "type": "tab",
        "label": "流程3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "76ea84804c032dd5",
        "type": "random",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "low": 1,
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "f8e4eb8fe8ecb115"
            ]
        ]
    },
    {
        "id": "4bea2b97d12475cc",
        "type": "debug",
        "z": "ff75b3d78db8dd1a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "77650b8d9f9bde98",
        "type": "ui_button",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "group": "6696f492365be9c4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "76ea84804c032dd5"
            ]
        ]
    },
    {
        "id": "f8e4eb8fe8ecb115",
        "type": "change",
        "z": "ff75b3d78db8dd1a",
        "name": "Set Answer",
        "rules": [
            {
                "t": "set",
                "p": "answer",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "4bea2b97d12475cc"
            ]
        ]
    },
    {
        "id": "061d0c7c70e99837",
        "type": "inject",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "76ea84804c032dd5"
            ]
        ]
    },
    {
        "id": "1ab3c838ab16fb7d",
        "type": "ui_text_input",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "label": "guessing",
        "tooltip": "",
        "group": "6696f492365be9c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "062b8015e0a73465"
            ]
        ]
    },
    {
        "id": "d8c0aa1e79e45dae",
        "type": "switch",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "answer",
                "vt": "flow"
            },
            {
                "t": "gt",
                "v": "answer",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "answer",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "230fd13e089fda9c"
            ],
            [
                "706b9c100684b133"
            ],
            [
                "7dfed165c5e102c4"
            ]
        ]
    },
    {
        "id": "230fd13e089fda9c",
        "type": "change",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "太小",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "0ab2f6431edec8cb",
                "434c825d63875dd8"
            ]
        ]
    },
    {
        "id": "706b9c100684b133",
        "type": "change",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "太大",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "0ab2f6431edec8cb",
                "434c825d63875dd8"
            ]
        ]
    },
    {
        "id": "7dfed165c5e102c4",
        "type": "change",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "答對了",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "0ab2f6431edec8cb",
                "434c825d63875dd8"
            ]
        ]
    },
    {
        "id": "0ab2f6431edec8cb",
        "type": "ui_text",
        "z": "ff75b3d78db8dd1a",
        "group": "6696f492365be9c4",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "guessing",
        "label": "結果",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 380,
        "wires": []
    },
    {
        "id": "78319d04cbd92e67",
        "type": "ui_button",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "group": "6696f492365be9c4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "送出",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "19af122657a0bd69"
            ]
        ]
    },
    {
        "id": "062b8015e0a73465",
        "type": "change",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "guess",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "19af122657a0bd69",
        "type": "change",
        "z": "ff75b3d78db8dd1a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "guess",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "d8c0aa1e79e45dae",
                "fc059c169fbd7537"
            ]
        ]
    },
    {
        "id": "434c825d63875dd8",
        "type": "debug",
        "z": "ff75b3d78db8dd1a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc059c169fbd7537",
        "type": "debug",
        "z": "ff75b3d78db8dd1a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "6696f492365be9c4",
        "type": "ui_group",
        "name": "Guess",
        "tab": "19fa2c2f4639ec2c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19fa2c2f4639ec2c",
        "type": "ui_tab",
        "name": "Game-anna",
        "icon": "",
        "disabled": false,
        "hidden": false
    }
]