NodeRED/guess.json
[{"id":"bfbb32b405476645","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"9354cec747b05797","type":"ui_button","z":"bfbb32b405476645","name":"","group":"72a9acf169cf6dd5","order":0,"width":0,"height":0,"passthru":false,"label":"Start Game","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":120,"wires":[["3a04c42e8e1acec2"]]},{"id":"3a04c42e8e1acec2","type":"random","z":"bfbb32b405476645","name":"","low":1,"high":"1000","inte":"true","property":"payload","x":320,"y":100,"wires":[["5332d095d9c9dfe5"]]},{"id":"5332d095d9c9dfe5","type":"change","z":"bfbb32b405476645","name":"Set Answer","rules":[{"t":"set","p":"answer","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[["9a1494fc4f6d8f2e"]]},{"id":"9a1494fc4f6d8f2e","type":"debug","z":"bfbb32b405476645","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":100,"wires":[]},{"id":"884ba3a35541a31f","type":"inject","z":"bfbb32b405476645","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["3a04c42e8e1acec2"]]},{"id":"85c161954f483741","type":"ui_text_input","z":"bfbb32b405476645","name":"","label":"Guessing","tooltip":"","group":"72a9acf169cf6dd5","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":120,"y":180,"wires":[["2bfeeaa76ad74f1f"]]},{"id":"c194796a67603af2","type":"switch","z":"bfbb32b405476645","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"answer","vt":"flow"},{"t":"gt","v":"answer","vt":"flow"},{"t":"eq","v":"answer","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":260,"wires":[["20d7aac4e8050408"],["d5059f1a858ac2bf"],["6068fba5229dc12c"]]},{"id":"20d7aac4e8050408","type":"change","z":"bfbb32b405476645","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"太小","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["fc71186b0eade22c","55591efca66200c0"]]},{"id":"d5059f1a858ac2bf","type":"change","z":"bfbb32b405476645","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"太大","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["fc71186b0eade22c","55591efca66200c0"]]},{"id":"6068fba5229dc12c","type":"change","z":"bfbb32b405476645","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"BINGO！","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":300,"wires":[["fc71186b0eade22c","55591efca66200c0"]]},{"id":"fc71186b0eade22c","type":"ui_text","z":"bfbb32b405476645","group":"72a9acf169cf6dd5","order":1,"width":0,"height":0,"name":"","label":"結果","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":830,"y":220,"wires":[]},{"id":"211d3a121c59e8ca","type":"ui_button","z":"bfbb32b405476645","name":"","group":"72a9acf169cf6dd5","order":3,"width":0,"height":0,"passthru":false,"label":"送出","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":260,"wires":[["69f831f907dffa42"]]},{"id":"2bfeeaa76ad74f1f","type":"change","z":"bfbb32b405476645","name":"","rules":[{"t":"set","p":"guess","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[[]]},{"id":"69f831f907dffa42","type":"change","z":"bfbb32b405476645","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"guess","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":260,"wires":[["c194796a67603af2","1f3281f2ead805bb"]]},{"id":"1f3281f2ead805bb","type":"debug","z":"bfbb32b405476645","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":360,"wires":[]},{"id":"55591efca66200c0","type":"debug","z":"bfbb32b405476645","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":300,"wires":[]},{"id":"72a9acf169cf6dd5","type":"ui_group","name":"Guess","tab":"32b6f82d9e1384ba","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"32b6f82d9e1384ba","type":"ui_tab","name":"Game","icon":"dashboard","disabled":false,"hidden":false}]